.loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.loading h1 {
  width: 100px;
}

@media screen and (min-width: 768px) {
  .loading h1 {
    width: 120px;
  }
}